<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="backHome()">Lab Manager</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse" id="bs-example-navbar-collapse-1" ng-class="{'navbar-collapse': commonData.isLoggedIn}">
      <ul class="nav navbar-nav">
        <li ng-repeat="navbarOption in commonData.navbarOptions" ng-class="{active: navbarOption.isActive}">
          <a ng-click="navigateToOption(navbarOption)">{{navbarOption.text}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
            {{userName}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>