<!DOCTYPE html>
<html lang="en-US">
    <head>
    <title>Lab Manager - Project and Staff</title>

    <% include ../_libraries/bootstrap-fontawesome-jquery-underscore %>
    <% include ../_libraries/angular-angularbootstrap %>

    <link rel='stylesheet' href='/stylesheets/common/style.css'>
    <link rel='stylesheet' href='/stylesheets/common/navbar.css'>

    <link rel='stylesheet' href='/stylesheets/projectsStaff/style.css'>

    <script src="/javascripts/projectsStaff/index.js"></script>

    <script src="/javascripts/common/navbar-ctrl.js"></script>
    <script src="/javascripts/common/common-data-service.js"></script>

    <script src="/javascripts/projectsStaff/abstract-table-directive.js"></script>
    <script src="/javascripts/projectsStaff/tasks-ctrl.js"></script>
    <script src="/javascripts/projectsStaff/celltypes-constants.js"></script>
  </head>
  <body id="lab-manager-app" ng-app="App">
    <div ng-include="'/view/navbar.ejs'" ng-controller="TestCtrl"></div>
    <div class="container app-container" ng-view></div>
    </div>
  </body>
</html>
