<div class="experiments-box" style="height: 100%;" ng-controller="ExperimentCtrl">
	<div class="panel panel-default" style="padding: 0px 12px; height: calc(100% - 20px); overflow-y: auto;">
		<div style="height: 64px;">
	  	<h2 style="float: left; display: inline-block;">Experiments</h2>
	  	<button type="button" class="btn btn-primary" style="float: right; display: inline-block; margin-top: 20px;"> <i class="fa fa-plus" aria-hidden="true"></i>
	  		<span style="margin-left: 8px;">Add Experiment</span></button>
	  </div>
	  <div style="margin-bottom: 24px;">
		  <p style="margin-bottom: 12px;">Click on the experiment name to edit the data, protocols and references. </p>
		  <table id="example" class="table table-striped table-bordered">
		    <thead>
		      <tr>
		        <th>Experiment</th>
		        <th>Date</th>
		        <th>Status</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="experiment in experiments track by $index">
		        <td><a ng-click="goToExperiment(experiment.url)">{{experiment.name}}</a></td>
		        <td>{{experiment.date}}</td>
		        <td><span class="label" ng-class="statusMap[experiment.status]">{{experiment.status}}</span></td>
		      </tr>
		    </tbody>
		  </table>
		 </div>
	</div>
</div>