<div class="login-box" style="height: 100%;" ng-controller="LoginCtrl">
	<div class="panel panel-default" style="position: relative; max-width: 500px; top: 40%; transform: translate(0, -40%); margin: 0 auto;">
	  <div class="panel-body">
	  	<h2 style="margin-top: 12px; margin-bottom: 24px;">Login</h2>
	  	<div class="input-group input-group-lg">
			  <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
			  <input type="text" class="form-control" placeholder="Username">
			</div>

			<div class="input-group input-group-lg">
			  <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
			  <input type="password" class="form-control" placeholder="Password">
			</div>

    	<button type="button" class="btn btn-default btn-lg" ng-click="login()" style="float: right; display: inline-block; margin: 12px 12px;">Authenticate</button>
	  </div>
	</div>
</div>