body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.lab-manager-app .navbar-inverse .navbar-brand {
    color: #fff;
}

.lab-manager-app .navbar-inverse .navbar-brand:focus, .lab-manager-app .navbar-inverse .navbar-brand:hover {
    color: #9d9d9d;
    background-color: transparent;
}

.lab-manager-app .navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.lab-manager-app .navbar-inverse .navbar-nav>li>a:focus, .lab-manager-app .navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
    background-color: transparent;
}

.lab-manager-app .login-box .panel-body > * {
	margin: 18px 12px;
}

.lab-manager-app .abstract-table-box .row {
	margin-left: 0px;
	margin-right: 0px;
}

.lab-manager-app .abstract-table-box .label {
	font-size: 14px;
}

#abstract-table.experiments-table th.start-date, #abstract-table.experiments-table th.due-date {
  width: 72px;
}

#abstract-table.specific-experiment-table th.download, #abstract-table.specific-experiment-table th.archive {
  width: 60px;
}

#abstract-table.specific-experiment-table th.date #abstract-table.specific-experiment-table th.file-name {
  width: 100px;
}