<div class="modal-header">
    <h4 class="modal-title">Publication Information</h4>
    <button type="button" class="close" aria-label="Close" ng-click="closeModal()" style="margin-top: -25px;">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div style="margin: 0px 0px 8px;"><label>Publication Name</label></div> 
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-sticky-note-o " aria-hidden="true"></i></span>
        <input type="text" class="form-control" ng-model="publicationName" placeholder="Notice Name">
    </div>

    <div style="margin: 24px 0px 8px;"><label>Authors</label></div> 
    <div class="input-group" style="width: 100%;">
        <input type="text" class="form-control" ng-model="publicationAuthors" placeholder="Authors">
    </div>
        
    <div style="margin: 24px 0px 8px;"><label>Status</label></div> 
    <div class="form-group" style="width: 100%;">
        <label for="selStatus">Status</label>
        <select class="form-control" id="selStatus" ng-model="pulicationStatus">
            <option>In Progress</option>
            <option>Approaching Deadline</option>
            <option>Overdue</option>
            <option>Complete</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="editPublication()">Edit Publication</button>
    <button type="button" class="btn btn-secondary" ng-click="closeModal()">Close</button>
</div>
