<div class="modal-header">
  <h4 class="modal-title">Create an Experiment</h4>
  <button type="button" class="close" aria-label="Close" ng-click="closeModal()" style="margin-top: -25px;">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

	<div style="margin: 0px 0px 8px;"><label>Experiment name</label></div> 
  <div class="input-group">
	  <span class="input-group-addon"><i class="fa fa-flask" aria-hidden="true"></i></i></span>
	  <input type="text" class="form-control" ng-model="experimentName" placeholder="Experiment Name">
	</div>

	<div style="margin: 24px 0px 8px;"><label>Schedule (start date and due date)</label></div> 
	<div style="display: flex; flex-direction: row;">
		<div class="input-group" style="width: 45%; margin-right: 10%;">
			<input type="text" class="form-control" 
					popup-placement="{{startDate.placement}}" is-open="startDate.isOpen" datepicker-options="startDate.options"  
					uib-datepicker-popup="{{startDate.format}}" ng-model="startDate.date" show-button-bar="false"
					alt-input-formats="startDate.format" />
			<span class="input-group-btn">
	      <button type="button" class="btn btn-default" ng-click="startDate.isOpen = !startDate.isOpen"><i class="glyphicon glyphicon-calendar"></i></button>
	    </span>
	  </div>
	 	<div class="input-group" style="width: 45%;">
			<input type="text" class="form-control" 
					popup-placement="{{dueDate.placement}}" is-open="dueDate.isOpen" datepicker-options="dueDate.options"  
					uib-datepicker-popup="{{dueDate.format}}" ng-model="dueDate.date" show-button-bar="false"
					alt-input-formats="dueDate.format" />
			<span class="input-group-btn">
	      <button type="button" class="btn btn-default" ng-click="dueDate.isOpen = !dueDate.isOpen"><i class="glyphicon glyphicon-calendar"></i></button>
	    </span>
	  </div>
	</div>

	
	<div style="margin: 24px 0px 8px;"><label>Assignees</label></div> 
  <div class="input-group" style="width: 100%;">
      <select ng-model="assignedUsers" multiple class="form-control" id="sel2">
        <option ng-repeat="assignee in assignees" value="{{assignee._id}}">{{assignee.name}}</option>
      </select>
	</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="createExperiment()">Create Experiment</button>
  <button type="button" class="btn btn-secondary" ng-click="closeModal()">Close</button>
</div>
