<div ng-controller="PublicationsCtrl">
	<abstract-table 
		table-class-name="{{tableClassName}}"
		title="{{title}}"
		description="{{description}}" 
		button-text="{{buttonText}}"

		row-headers="rowHeaders"
		rows="rows"
		cell-types="cellTypes"
		status-map="statusMap"
		click-handler-map="clickHandlerMap"
		click-button-fn="clickButtonFn"> 
	</abstract-table>
</div>