<div ng-controller="SpecificExperimentCtrl">
	<abstract-table 
		table-class-name="{{tableClassName}}"
		title="{{title}}"
		description="{{description}}" 
		button-text="{{buttonText}}"

		tabs="tabs"
		include-tabs="includeTabs"
		current-tab-index="currentTabIndex"

		row-headers="rowHeaders"
		rows="rows"
		cell-types="cellTypes"
		status-map="statusMap"
		click-handler-map="clickHandlerMap"
		click-button-fn="clickButtonFn"> 
	</abstract-table>
	<toast class="lab-manager-toast" ng-show="showToast"></toast>
</div>
