<div class="modal-header">
  <h4 class="modal-title">Edit Notice</h4>
  <button type="button" class="close" aria-label="Close" ng-click="closeModal()" style="margin-top: -25px;">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

	<div style="margin: 0px 0px 8px;"><label>Notice Name</label></div>
  <div class="input-group">
	  <span class="input-group-addon"><i class="fa fa-sticky-note-o " aria-hidden="true"></i></i></span>
	  <input type="text" class="form-control" ng-model="noticeName" placeholder="Notice Name">
	</div>

	<div style="margin: 20px 0px 8px"><label>Due Date</label></div>
	<div style="display: flex; flex-direction: row;">
	  </div>
	 	<div class="input-group" style="width: 45%;">
			<input type="text" class="form-control"
					popup-placement="{{dueDate.placement}}" is-open="dueDate.isOpen" datepicker-options="dueDate.options"
					uib-datepicker-popup="{{dueDate.format}}" ng-model="dueDate.date" show-button-bar="false"
					alt-input-formats="dueDate.format" />
			<span class="input-group-btn">
	      <button type="button" class="btn btn-default" ng-click="dueDate.isOpen = !dueDate.isOpen"><i class="glyphicon glyphicon-calendar"></i></button>
	    </span>
	  </div>
	</div>
    <div style="margin: 0px 0px 8px; margin-left: 15px"><label>Description</label></div>
    <div id = "description">
        <div class="input-group input-area" style="width: 70%; margin-left: 15px">
            <input type="text" class="form-control" ng-model="description" placeholder="Description">
        </div>
    </div>

    <div style="margin: 24px 0px 8px; margin-left: 15px"><label>Assignees</label></div>
  <div class="input-group" style="width: 70%; margin-left: 15px">
	  <input type="text" class="form-control" ng-model="assignees" placeholder="Assignees">
	</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="editNotice()">Edit Notice</button>
  <button type="button" class="btn btn-secondary" ng-click="closeModal()">Close</button>
</div>
