<div ng-controller = "ProjectsCtrl">
	<abstract-table 
		table-class-name="{{tableClassName}}"
		title="{{title}}"
		description="{{description}}" 
		button-text="{{buttonText}}"

		row-headers="rowHeaders"
		rows="rows"
		cell-types="cellTypes"
		click-handler-map="clickHandlerMap"
	</abstract-table>
</div>
