<div ng-controller = "TasksCtrl">
  <abstract-table
    table-class-name="{{tableClassName}}"
    title="{{title}}"
    button-text="{{buttonText}}"

    row-headers="rowHeaders"
    rows="rows"
    cell-types="cellTypes"
    click-handler-map="clickHandlerMap">
  </abstract-table>
</div>
