.tile {
	background-color: #F2F0EC;
	color: black;
	margin: 25px;
	height: 100%;

	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.26);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.26);
	-moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.26);	font-size: 2em;

	cursor: pointer;
	position: relative;
}

.tile .tile-header {
	text-align: center;
	vertical-align: middle;
	line-height: 1.4em;
	padding-top: 24px;
}

.tile:hover {
	-webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.tile .tile-image {
	-webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          position: absolute;
          left: 50%;
          top: 50%;
}