.tile-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: calc(100% - 58px);
}

.tile {
	background-color: orange;
	color: white;
	width: calc(80%/3);
	height: 70%;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
	cursor: pointer;
}